<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
  <appSettings>
    <add key="sfdcUserName" value="atiraj@gmail.com"/>
    <add key="sfdcPassword" value="abcd1234"/>
    <add key="sfdcToken" value="iKrcskXKQw6dA00esIKiNiugC"/>
    <add key="sfdcCKey" value="3MVG9A2kN3Bn17huot6JjmEy7lwZh195ZEAfMe73zOmzmBlBC0qw8TVVBbEdgljH4A9TLY.UosvkB2VuegyoJ"/>
    <add key="sfdcCSecret" value="4204569769270929855"/>
    <add key="sfdcToken1" value="iKrcskXKQw6dA00esIKiNiugC"/>
    <add key="sfdcURI" value="https://login.salesforce.com/services/oauth2/token"/>
    
  </appSettings>

  <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="SoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://login.salesforce.com/services/Soap/u/29.0"
                binding="basicHttpBinding" bindingConfiguration="SoapBinding"
                contract="SFDC.Soap" name="Soap" />
        </client>
    </system.serviceModel>
</configuration>